#section-caisse {
  display: flex;
  justify-content: center;
  margin: auto;
}

#table-caisse {
  border-collapse: collapse;
  margin: 25px 25px 25px 0;
}

#table-caisse caption {
  font-size: x-large;
}

#table-caisse td {
  border: 1px solid black;
  padding: 10px;
}

#adresse-livraison input {
  width: 30%;
}
.revenir {
  text-align: left;
}
.envoyer {
  text-align: right;
}
.submit-group input[type="submit"] {
  width: 150px;
}
.submit-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 500px;
  padding: 14px 0px 14px 0px;
}

form .group {
  margin-bottom: 20px;
}

form .group label {
  display: inline-block;
  width: 45%;
  margin-right: 5%;
  text-align: right;
}

form .group select {
  width: 32%;
}
