#section-confirmation {
  display: flex;
  justify-content: center;
  margin: auto;
}

.texte-confirmation {
  text-align: center;
}

.accueil {
  text-align: center;
}

.buttonAccueil{
  border: none;
  background-color: #444444;
  color: white;
  width: 80px;
  height: 40px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}


.buttonAccueil:hover{
  background-color: salmon;
}