#button {
  position: absolute;
  right: 20%;
  margin-top: 15px;
  background-color: grey;
  width: 13%;
  height: 5%;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  cursor: pointer;
}
#button:hover{
  background-color: salmon;
}


#panier-grille {
  display: flex;
  flex-direction: column;
}

.panier-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 5fr 1fr;
  border-bottom: solid black 1px;
}

.panier-item h1 {
  font-size: x-large;
  margin: 0 0 15px;
}
.prixPosition{
  margin:20px;
  width: 45px;
}
.supprimePosition{
  margin:20px;
  cursor: pointer;
}

.panier-item h2 {
  font-size: medium;
  text-align: left;
}

.panier-item input {
  font-size: medium;
  text-align: left;
  align-items: center;
}

.panier-item p {
  text-align: left;
}

#header {
  background-color: var(--fond-menu, #000);
  padding-top: 4px;
}

.barre-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr 1fr;
}

.barre-header h2 {
  float: left;
  font-size: 16px;
  color: var(--couleur-menu);
  text-align: center;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s;
}

.sectionPrincipalPanier{
  margin-left: 30%;
  margin-right: 20%;
}
