#section-pdv {
  width: 66%;
  margin-left: 34%;
}

#pdv-grille {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  grid-row-gap: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.pdv-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  text-align: center;
}

.pdv-item h1 {
  font-size: x-large;
  margin: 0 0 15px;
}

.pdv-item h2 {
  font-size: medium;
  text-align: left;
}
.pdv-item ul {
  padding-left: 20px;
}

#pdv-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#pdv-flex .pdv-item {
  margin: 0 25px 25px 0;
}

@media screen and (max-width: 900px) {
  #pdv-grille {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 600px) {
  #pdv-grille {
    grid-template-columns: auto;
  }
}
