input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.section-prod {
  width: 80%;
  margin-left: 20%;
}

#menu-gauche {
  position: absolute;
  width: 15%;
  text-align: center;
  font-size: x-large;
  margin-top: 10px;
}

.prod-grille {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.prod-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 300px;
  text-align: center;
  margin-bottom: 15px;
  margin-right: 15px;
  padding: 5px;
}

.prod-item h1 {
  font-size: x-large;
  margin: 0 0 15px;
}

.prod-item h2 {
  font-size: medium;
  text-align: left;
}

.prod-item p {
  text-align: left;
}
.sameLineChildren{
  display: inline-block;
}

.sameLineParent{
  white-space: nowrap;
  overflow-x: auto;
}

.reduceSizeImageToHide{
  width: 20px;
}

.buttonHideProduct{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

.priceSearch{
  margin-top: 10px;
  margin-bottom: 5px;
  width: 17%;
}

.labelPrix{
  font-size: 15px;
}
#submitResearch{
  margin-bottom: 10px;
  width: 65%;
  background-color: #444444;
  color: honeydew;
}

.produitIndiv{
  animation: color-change 1s;
}
@keyframes color-change {
  0% { color: gray; }
  50%{color: darkgray}
  75% { color: lightgray; }
  100% { color: white; }
}