#top {
  background-color: var(--fond-menu, #000);
  padding-top: 4px;
}

.sectionPrincipalPanier{
  margin-top: 1%;
  margin-left: 30%;
  margin-right: 30%;
}


.barre-header {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr;
}


.commandeIndividuel {
  border: solid black 2px;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr;
  background-color: lightgray;
}

.barre-header h2 {
  float: left;
  font-size: 16px;
  color: var(--couleur-menu);
  text-align: center;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s;
}

.idcommande{
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.nomProduits{
  margin-left: 35%;
}

.quantiteProduits{
  text-align: center;
}

.adresse{
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
}

.enleverventer{
  height: 20px;
  width: 20px;
  margin: auto;

}

.entreProduits{
  margin-top: 5px;
}




























